* text=auto

*.cjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mts text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
bin/codexfast text eol=lf

*.cmd text eol=crlf
*.ps1 text eol=crlf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.p7x binary
